.hidden {
  display: none;
}
h1, h2 {
  font-family: 'Cutive Mono', monospace;
}
h3, h4 {
  font-family: 'Cutive Mono', monospace;
}

p {
  font-family: 'Open Sans', sans-serif;
}

#randomVerse, #precedingVerse, #succeedingVerse {
  background-color: rgba(135, 181, 255, .8);
  padding: 20px;
  margin: auto 0;
  width: 30%;
}
#resultScreen {
  background-color: #6add6a;
  z-index: 1;
  margin: 0 auto;
  width: 30%;
  padding: 20px;
}
#result {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#playAgain {
  font-family: 'Open Sans', sans-serif;
}

#score {
  background-color: #ffe763;
  padding: 15px;
  margin: auto 0;
  width: 10%;
  text-align: center;
}
button {
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #fff7ce;

}
.guess {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  font-size: 16px;
  border-radius: 0px;
  background-color: #fff7ce;
}
.section, .book, .chapter, .verse {
  margin: 10px;
  padding: 8px;
  background-color: #e0fff9;
  border: 1px solid #2e3534;
}
