
body {
  font-family: 'Cutive Mono', monospace;
}
h1 {
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

p, li {
  font-family: 'Open Sans', sans-serif;
}
button {
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #fff7ce;
}

header {
  width: 60%;
  margin: 0 auto;
}

#randomVerseDisplay, #expertModePickGuess {
  width: 60%;
  margin: 0 auto;
}

#submitGuessDisplay, #expertModeSubmitGuessDisplay {
  width: 60%;
  margin: 0 auto;
}

#changeDifficulty, #hint, #changeVerse {
  font-size: 15px;
  padding: 7px;
}

.guess {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  font-size: 16px;
  border-radius: 0px;
  background-color: #fff7ce;
}
.section, .book, .chapter, .verse {
  margin: 10px;
  padding: 8px;
  background-color: #e0fff9;
  border: 1px solid #afd3cc;
}

#displayExpertModeGuess {
  background-color: #b2f7e9;
  border: 2px solid #8ffcf1;
  margin: 15px auto;
  padding: 8px;
  font-size: 18px;
  width: 40%;
  text-align: center;
}

#correctAnswerDisplay {
  background-color: #ffe14c;
  border: 3px solid #fff763;
  margin: 15px auto;
  padding: 8px;
  font-size: 18px;
  width: 40%;
  text-align: center;
}

#selectDifficulty {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#randomVerse, #precedingVerse, #succeedingVerse {
  background-color: rgba(135, 181, 255, .8);
  padding: 20px;
  margin: 0 auto;
  width: 80%;
}
#resultScreen {
  background-color: #6add6a;
  border: 1px solid #f2ee76;
  z-index: 1;
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  text-align: center;
}
#result {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#playAgain {
  font-family: 'Open Sans', sans-serif;
}
#resultMessage, #finalGameMessage{
  font-family: 'Cutive Mono', monospace;
  font-size: 18px;
}

#score {
  background-color: #ffe763;
  padding: 12px;
  margin: 0 auto;
  width: 40%;
  text-align: center;
}
#versesGuessed {
  text-align: center;
}
#nextVerse, #playAgain {
  margin: 0 auto;
}

.hidden {
  display: none;
}
